body{
  margin: 0 auto;
  background-color: white;
  text-align: center;
}

.pageContent,#addRestaurantForm{
  vertical-align: middle;
}

div#addRestaurantForm{
  background-color: white;
  opacity: 0.85;
}

#addRestaurantForm{
  color: grey;
  display: inline-block;
  text-align: justify;
  border: 0.15em dotted lightgrey;
  width: 21%;
  padding: 2.5%;
  margin-top: 8%;
}

#nameR{
  margin-top: 0.5em;
  width: 98.5%;
}

#locationR{
  margin-top: 0.5em;
  width: 98.5%;
}

#phone{
  display: block;
  margin-top: 0.5em;
  width: 98.5%;
}

#price{
  display: inline-block;
  width: 80%;
  margin-bottom: 2%;
}

#typeSelect{
  display: inline-block;
  margin-top: 8%;
}

#buttonAddRestaurant{
  display: block;
  /*margin-top: 10%;*/
  float: right;
}

span#addRestaurantError {
  color: red;
}

#backButonAddRestaurant {
  margin-top: 5%;
  /*padding-top: 5em;*/
  padding-bottom: 0.5%;
}
