#head {
  color: gray;
  background-color: white;
  padding-top: .5em;
}

#header {
  background-color: white;
}

#headerDiv {
  display: flex;
  justify-content: space-between;
}
/*
#headerDiv.button {
  display: inline-block;
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}*/

.buttonMargin{
  margin: 1em 0.5em 1em 0.5em;
}

.buttonsDiv{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

#logoHeaderImage{
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0.5em;

}

a:hover,a:visited,a:link{
  text-decoration: none;
  color: black;
}
