#head {
  color: gray;
  background-color: white;
  padding-top: .5em;
}

#header {
  background-color: white;
}

div.button {
  display: inline-block;
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
}
