body {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

div {
  background-color: white;
  opacity: 0.9;
}

#logoImage{
  display: inline-block;
  margin-top: 12%
}

#userName {
  color: grey;
  display: inline-block;
  text-align: justify;
  border: 2.5px dotted lightgrey;
  width: 21%;
  padding: 3.5%;
  margin-top: 11%
}

#loginError{
  color: red;
  display: inline;
  text-align: left;
  padding-left: -0.5%;
  padding-top: -0.5%;
  width: 3px;
}

#backButonLogin{
  margin-top: 7%;
}
