body {
    background-color: white;
    text-align: center;
    font-family: sans-serif;
}

div{
  color: grey;
  background-color: white;
  text-align: center;
  display: block;
  padding-top: 20%;
  opacity: 0.9;
  border-style: 1.5px solid grey;
}
