#mainPageTitle{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 200%;
}

.relative {
    position: relative;
}

#searchBox{
    position: fixed;
    top: 40%;
    left: 55%;
    transform: translate(-50%,-50%);
}

#searchBoxStyle{
    padding: 5px 15% 5px 15%;
    display:inline-block;
    margin-right: 20px;
    border: solid;
    border-width: 1px;
}

#searchBoxSubmit{
    padding: 5px 5% 5px 5%;
    display:inline-block;
    border-radius: 10px;
}
