.pageContent {
  background-color: white;
  margin-left: 22.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBox {
  padding-top: 2%;
  padding-bottom: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
}

#searchBoxStyle {
  width: inherit;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  margin-right: 0.2em;
}

#logo {
  height: 5%;
  width: 5%;
  padding-top: 10%;
}

/*
#iconsTypes {
 /* display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/*
#iconPequenoAlmoco {
  padding-left: 1em;
  padding-right: 1em;
}

#iconAlmoco {
  padding-right: 1em;
}

#iconJantar {
  padding-right: 1em;
}

#iconEntregas {
  padding-right: 1em;
}

#iconBeberUmCopo {
  padding-right: 1em;
}

#iconCafesEPastelarias {
  padding-right: 1em;
}

#iconTakeAway {
  padding-right: 1em;
}

#iconRefeicoesDeLuxo {
  padding-right: 1em;
}*/
