.pageContent {
  background-color: rgba(255,255,255, 0.5);
}

#restaurantTag {
  display: inline-flex;
}

#imgLgRestaurant {
  display: inline-flex;
}

#aux {
  display: flex;
  flex-direction: column;
}

label {
  font-size: medium;
}

#info {
  /*display: inline;*/
  display: block;
}

#restaurantName {
  display: inline-block;
  font-size: 300%;
  margin-top: 3%;
}

#editButton {
  display: inline-block;
  margin-top: 5em;
}

#restaurantType,#restaurantPhone {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-right: solid;
  border-width: 2px;
  line-height: 5px;
}

#restaurantLocation,#restaurantPrice {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

#star {
  font-size: 180%;
  margin-top: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
}

#mapLocation {
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

img#mapIcon {
  opacity: 1;
  vertical-align: top;
  margin-right: 2%;
}

#reviewTitle {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-bottom: solid;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 2px;
  font-size: 120%;
}

.divReview {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

#reviewNotLogued {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

#leaveReviewHeader {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  /*border-top: solid;*/
  border-bottom: solid;
  /*border-top-color: #e0e0e0;*/
  border-bottom-color: #e0e0e0;
  border-top-width: 2px;
  font-size: 120%;
}

#leaveReview {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

#restaurantImage {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  width: 10%;
  height: 10%
}

#editRestaurantName {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

#editRestaurantType {
  display: block;
}

#editRestaurantLocation {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

#editRestaurantImage {
  border-radius: 50%;
  margin-bottom: 2%;
  height: 15em;
  width: 15em;
}

#editSubmitButton {
  margin-bottom: 5%;
}

#editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10px;
}

.userImage {
  padding: 1em 1em 1em 1em;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

.reviewReplyStyle {
  display: flex;
  flex-direction: row;
  padding: 1em 1em 1em 1em;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-right: auto;
}

.showRepliesLink {
  margin-top: 1em;
  margin-left: 1em;
  text-decoration: underline;
}

.showRepliesLink:hover {
  cursor: pointer;
  cursor: hand;
}

.hideRepliesLink {
  margin-top: 0.5em;
  margin-left: 1em;
  text-decoration: underline;
}

.hideRepliesLink:hover {
  cursor: pointer;
  cursor: hand;
}

#addReplyForm {
  margin-top: 1em;
  margin-left: 1em;
}

#restaurantEditMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deleteForm {
  align-items: center;
}

.deleteReview {
  border: none;
  background-color: inherit;
}

.deleteReview:hover {
  cursor: pointer;
  cursor: hand;
}

.formToDeleteReply {
  margin-left: 2em;
}

.userImageReply {
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.userNameReply {
  margin-right: 2%;
  font-weight: 900;
  display: inline;
}

div.userCommetReview {
  display: inline;
  margin-top: 5%;
  /*margin-bottom: 3%;*/
}

span + img {
  margin-left: 3%;
}

div.userCommetReview + div {
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.starRD {
  display: inline;
}

div.dateDiv {
  font-size: small;
  margin-top: 3%;
}

.reviewText {
  margin-left: 2.5%;
}

.reviewTextR {
  margin-left: 15%;
}

div.dateDivR{
  font-size: x-small;
}

#inputTextBox{
  margin-right: 3%;
}

#lg{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

#lgStar{
  margin-left: 2.5%;
}

#lastLineSR{
  display: inline;
}

/*#sendReview{
  position: absolute;
  float: right;
}*/

.restaurantImage2{
  width: 35em;
  height: 20em;
  margin-left: 10%;
  margin-top: 2%;
}

#restaurantInfo{
  display: flex;
  flex-direction: column;
}