#restaurantName{
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

#editButton{
    display: inline-block;
}

#restaurantType{
    display:inline-block;
    padding: 10px 10px 10px 10px;
    border-right: solid;
    border-width: 2px;
    line-height: 5px;
}

#restaurantLocation{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

#reviewTitle{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-bottom: solid;
    border-bottom-color: #e0e0e0;
    border-bottom-width: 2px;
}

#divReview{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#reviewNotLogued{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#leaveReviewHeader{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-top: solid;
    border-top-color: #e0e0e0;
    border-top-width: 2px;
}

#leaveReview{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#restaurantImage{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 20%;
    height: 20%
}

#editRestaurantName{
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

#editRestaurantType{
    display:block;
}

#editRestaurantLocation{
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

#editRestaurantImage{
    margin-bottom: 2%;
    width: 20%;
    height: 20%
}

#editSubmitButton{
    margin-bottom: 5%;
}

#editForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviewContainer{
    display: flex;
    flex-direction: row;
}

#userImage{
    padding: 1em 1em 1em 1em;
    border-radius: 50%;
    width: 5%;
    height: 5%;
}

#reviewReplyStyle{
    padding: 1em 1em 1em 1em;
}

#showRepliesLink{
    margin-top: 1em;
    margin-left: 1em;
    text-decoration: underline;
}

#showRepliesLink:hover{
    cursor: pointer; cursor: hand;
}

#hideRepliesLink{
    margin-top: 0.5em;
    margin-left: 1em;
    text-decoration: underline;
}

#hideRepliesLink:hover{
    cursor: pointer; cursor: hand;
}
