.pageContent {
  background-color: rgba(255,255,255, 0.5);
}

#restaurantTag {
  display: inline-flex;
}

#imgLgRestaurant {
  display: inline-flex;
}

#aux {
  display: block;
}

label {
  font-size: medium;
}

#info {
  /*display: inline;*/
  display: block;
}

#restaurantName {
  display: inline-block;
  font-size: 300%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#editButton {
  display: inline-block;
}

#restaurantType,#restaurantPhone {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-right: solid;
  border-width: 2px;
  line-height: 5px;
}

#restaurantLocation,#restaurantPrice {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

#star {
  font-size: 180%;
  margin-top: 1.5%;
}

#mapLocation {
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
}

img#mapIcon {
  opacity: 1;
  vertical-align: top;
  margin-right: 2%;
}

#reviewTitle {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-bottom: solid;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 2px;
  font-size: 120%;
}

.divReview {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  bor
}

#reviewNotLogued {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

#leaveReviewHeader {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-top: solid;
  border-top-color: #e0e0e0;
  border-top-width: 2px;
}

#leaveReview {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

#restaurantImage {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  width: 20%;
  height: 20%
}

#editRestaurantName {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

#editRestaurantType {
  display: block;
}

#editRestaurantLocation {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
}

#editRestaurantImage {
  margin-bottom: 2%;
  width: 20%;
  height: 20%
}

#editSubmitButton {
  margin-bottom: 5%;
}

#editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewContainer {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10px;
}

.userImage {
  padding: 1em 1em 1em 1em;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

.reviewReplyStyle {
  display: flex;
  flex-direction: row;
  padding: 1em 1em 1em 1em;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-right: auto;
}

.showRepliesLink {
  margin-top: 1em;
  margin-left: 1em;
  text-decoration: underline;
}

.showRepliesLink:hover {
  cursor: pointer;
  cursor: hand;
}

.hideRepliesLink {
  margin-top: 0.5em;
  margin-left: 1em;
  text-decoration: underline;
}

.hideRepliesLink:hover {
  cursor: pointer;
  cursor: hand;
}

#addReplyForm {
  margin-top: 1em;
  margin-left: 1em;
}

#restaurantEditMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deleteForm {
  align-items: center;
}

.deleteReview {
  border: none;
  background-color: inherit;
}

.deleteReview:hover {
  cursor: pointer;
  cursor: hand;
}

.formToDeleteReply {
  margin-left: 2em;
}

#userNameReply {
  font-weight: 900;
}
