.pageContent {
  margin-top: 0;
  margin-left: 25%;
  margin-right: auto;
  margin-bottom: auto;
  background-color: white;
}

#searchError,#msgResults {
  color: black;
  font-size: 300%;
}

#searchRestaurants {
  color: grey;
  display: inline-block;
  text-align: justify;
  margin-left: 10%;
  margin-top: 5%;
}

#restaurantInfo {
  color: grey;
  display: grid;
  text-align: justify;
  border: 2.5px solid black;
  /*width: 21%;*/
  padding: 2.5%;
  margin-top: 3.5em;
}

ul {
  display: inline-block;
  margin-left: 25%;
}

div#resultsList {
  display: inline-flex;
  margin-left: 25.5%;
}

div.restaurantInfo {
  color: grey;
  text-align: justify;
  border: 2.5px dotted lightgrey;
  width: 200%;
  padding: 5%;
  margin-top: 3.5em;
}

a:hover, a:visited, a:link {
  color: grey;
  text-decoration: none;
}

li {
  display: flex;
  text-align: center;
}

span {
  text-align: left;
  margin-left: 10%;
  margin-top: 10%;
}

/*#msgResults {
  padding-bottom: 1.5em;
}*/

/*span#a {
  padding-bottom: 1.5em;
}*/

/*ol,ul {
  list-style: circle;
}*/
