body {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  margin-top: 3%;
}

#logoImage {
  top: 5%;
  display: inline-block;
  margin-top: 1%;
}

/*Centrar Imagem*/
.pageContent,
#logoImage,
#userNameSU {
  vertical-align: middle;
}

div#userNameSU {
  background-color: white;
  opacity: 0.95;
}

#userNameSU {
  color: grey;
  display: inline-block;
  text-align: justify;
  border: 2.5px dotted lightgrey;
  width: 21%;
  padding: 2.5%;
  margin-top: 3.5em;
}

#username {
  margin-top: 0.5em;
  width: 98.5%;
}

#password {
  margin-top: 0.5em;
  width: 98.5%;
}

#confirmPassword {
  margin-top: 0.5em;
  width: 98.5%;
}

#name {
  margin-top: 0.5em;
  width: 98.5%;
}

#email {
  margin-top: 0.5em;
  width: 98.5%;
}

#gender{
  margin-top: 0.5em;
  padding-left: 1em;
}

#buttonCreateAccount {
  display: inline-block;
  float: right;
}

#mainPageSU {
  margin-top: 3.5em;
  padding-bottom: 1%;
}

span#singUpError {
  color: red;
}
